body {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;

  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin-bottom: 60px;
  background-color: #eeeeee;
}

.main-logo {
  float: left;
  position: absolute;
  top: 27px;
  left: 0px;

}

.header-menu {
  box-sizing: border-box;
  width: 550px;
  float: left;
  margin-left: 180px;
  margin-top: 43px;

  /*margin-bottom: 64px;*/
  /*padding-left: 185px;  /* 325px */

}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.header-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.header-menu a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 46px;
}

.header-menu a:last-child {
  padding-right: 0;
}

.header-menu a:hover {
  color: #fb565a;
}

.header-menu a:active {
  color: #dbdbdb;
}

.header-menu .active {
  position: relative;

  background-color: none;
}

.header-menu .active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 46px;

  height: 5px;

  background-color: #ffffff;
}

.header-menu .active a:hover {
  color: black;
}

.cart {
  max-width: 90px;
  float: right;
  margin-right: 50px;
}

.login {
  position: relative;

  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: black;
  text-decoration: none;
  padding: 62px 0 62px 25px;

  display: inline-block;
  vertical-align: top;
}

.login:hover {
  color: #fb565a;
}

.login:active {
  color: #dbdbdb;
}

.login::before {
  content: "";
  position: absolute;

  width: 15px;
  height: 15px;
  background-position: -10px -10px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;

  top: 69px;
  left: 3px;
}

.login:hover::before {
  width: 15px;
  height: 15px;
  background-position: -10px -45px;

}

.login:active::before {
  width: 15px;
  height: 15px;
  background-position: -10px -10px;
}

/*--Конец шапки--*/

/* SLIDER*/

.slider {
  position: relative;

  padding-top: 135px;
  width: 880px;
  margin: 0 auto;
}

.slide {
  min-height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;

  width: 200px;
  margin-left: -100px;

  text-align: center;
}

.slide-text {
  width: 500px;
  padding: 30px 0;
}

.slide-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.slide p {
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.slide:nth-child(1) {
  background-image: url("../img/nerds-1-comp.png");
}

.slide:nth-child(2) {
  background-image: url("../img/nerds-2-calc.png");
}

.slide:nth-child(3) {
  background-image: url("../img/nerds-3-rob.png");
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

/*END SLIDER */


/*BUTTONS */

.btn-more {
  display: block;
  /*box-sizing: border-box;*/
  width: 240px;
  line-height: 38px;

  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  font-size: 12px;

  text-align: center;
  border-radius: 3px;

  /*vertical-align: middle;*/
  /*padding: 14px 71px 15px 70px;*/
}

.btn-more:hover {
  background-color: #d6494d;
}

.btn-more:active {
  background-color: #b63538;
}

.btn-buy {
  display: block;
  width: 140px;
  line-height: 38px;

  text-decoration: none;
  color: white;
  background-color: #fb565a;

  text-align: center;
}

.btn-buy:hover {
  background-color: #d6494d;
}

.btn-buy:active {
  background-color: #b63538;
}

.apps {
  background-color: #00ca74;
}

.apps:hover {
  background-color: #01a25e;
}

.apps:active {
  background-color: #009053;
}

.present {
  background-color: #efc84a;
}

.present:hover {
  background-color: #d6ae2c;
}
.present:active {
  background-color: #c09b24;
}

/*END BUTTONS */

.advantages-img {
  float: right;
  margin-bottom: 70px;
}

.advantages-switch {
  float: left;
  width: 60px;
  margin-top: 200px;

}

.what-we-do {
  font-size: 0;
}

.we-do-card {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 80px;


  font-size: 15px;
  line-height: 22px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.we-do-card h2 {     /* Не работает? */
  font-size: 18px;
  line-height: 30px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.we-do-card:last-child {
  margin-right: 0;

}

.about {
  margin-top: 60px;
  margin-bottom: 72px;

}

.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.about li {
  position: relative;

  margin-bottom: 35px;
  padding-left: 35px;
}

.about li::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 1px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about span {
  text-transform: uppercase;

}

.about-text {
  float: left;
  width: 575px;
  padding-top: 15px;
}

.about-text h1 {
  margin: 0;
}

.about-text p {
  margin-top: 30px;
  margin-bottom: 55px;
}

.about-how {
  width: 240px;
  float: right;
  margin-right: 15px;
}

.about-how img {
  margin-bottom: 90px;
}

.delimiter {
  margin: 0;
}

.partners {
  margin-top: 45px;
  margin-bottom: 30px;
}

.image-partners {
  vertical-align: middle;
  margin-right: 120px;
  opacity: 0.2;
}

.image-partners:hover {
  opacity: 1; lty
}

.image-partners:last-child {
  margin-right: 0;
}

/*--footer*/
.map {
  margin-bottom: 78px;
}

.big-map {
  position: relative;
  left: -220px;
  max-width: inherit;
}

.map-logo {
  position: absolute;
  top: 170px;
  right: 145px;
}

.our-address {
  position: absolute;
  top: 85px;
  left: -45px;
  box-sizing: border-box;

  background-color: white;
  width: 250px;
  height: 240px;

  padding: 31px 23px 26px 20px;

}

.our-address span {
  font-size: 16px;
  line-height: 30px;
}

.our-address address {
  margin-top: 15px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #666;
}

.btn-address {
  display: block;
  /*box-sizing: border-box;*/
  width: 204px;
  line-height: 38px;

  text-decoration: none;
  color: white;
  background-color: #fb565a;
  font-size: 12px;


  text-align: center;

  /*vertical-align: middle;*/
  /*padding: 14px 71px 15px 70px;*/
}

.btn-address:hover {
  background-color: #d6494d;
}

.btn-address:active {
  background-color: #b63538;
}

.social {
  margin-top: 80px;
}

.social-footer {
  float: left;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 28px;

  width: 61px;
  height: 61px;
  font-size: 0;
  background-color: #e1e1e1;

  border-radius: 30px;

}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background: transparent url("../img/sprite.png") no-repeat;

}

.social-btn:hover {
  background: #fb565a;
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -10px -459px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -316px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -358px;
}

.lets-friend {
  float: right;;
  margin-left: 20px;
  margin-bottom: 75px;
}

.lets-friend h1 {
  margin: 0;
  margin-bottom: 12px;
}

footer .container {
  margin-top: 80px;
}
/*--End Footer--*/

/*Catalog*/

.welcome {
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  width: 655px;
}

.welcome h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: normal;
}

.left-menu {
  float: left;
  width: 245px;
  line-height: 20px;
}

/*Оформление кнопок*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;

  position: relative;
  color: #283136;
}

input[type="checkbox"] + label:hover {
  color: black;
}

input[type="checkbox"] + label:active {  /*Нужно ли opacity?*/
  opacity: 0.3;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: -10px -80px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  background-position: -10px -123px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;

  position: relative;
  color: #283136;
}

input[type="radio"] + label:hover {
  color: black;
}

input[type="radio"] + label:active {  /*Нужно ли opacity?*/
  opacity: 0.3;
}

input[type="radio"] + label::before {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -10px -166px;
}

input[type="radio"]:checked + label::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -10px -211px;
}

.left-menu .price-range {
  width: 80px;
}

.show-button {
  margin-top: 57px;
}

.btn-show {
    display: block;
    width: 155px;
    line-height: 38px;

    text-decoration: none;
    color: black;
    background-color: #f1f1f1;

    text-align: center;
    text-transform: uppercase;
    border: 0;

    font-size: 12px;
    font-weight: 700;

}

/*END Оформление кнопок*/

.price {
  margin-bottom: 55px;
}

.grid {
  margin-bottom: 50px;
}

.cards-index {
  width: 565px;
  margin-left: 246px;
}

.sorted {
  margin-bottom: 26px;
}

/*.layouts {
  margin-left: 246px;
}*/

.layout-card {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 80px;
  margin-bottom: 80px;
}

.layout-card:nth-child(even) {
  margin-right: 0;
}

.showed  div{
  position: relative;
}

.btn-price {
  position: absolute;
  bottom: 80px;
  left: 50px;
  background: red;
  width: 140px;
  height: 40px;

}

.btn-price:hover {
  background: blue;
}

/*
.btn-price {
  display: inline-block;
  float: right;
  background: red;
  width: 100px;
}
*/

.pagination {
  margin-top: 45px;
}

.pagination ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
}

.pagination a {
  display: block;
  padding: 17px 18px;
  color: black;
  background-color: #f1f1f1;
  text-decoration: none;
  margin-right: 7px;
  border-radius: 5px;
}

.pagination .selected-pagi {
  color: black;
  background-color: white;
  border: 1px solid grey;
}

.pagination a:hover {
  background: #e5e5e5;
}

.pagination a:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 grey;
}

/*SPRITE*/
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite--icon-basket-red {
    width: 15px;
    height: 15px;
    background-position: -10px -45px;
}

.sprite--icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -10px -80px;
}

.sprite--icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -123px;
}

.sprite--icon-circle {
    width: 25px;
    height: 25px;
    background-position: -10px -166px;
}

.sprite--icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -10px -211px;
}

.sprite--icon-down-dir- {
    width: 11px;
    height: 10px;
    background-position: -10px -256px;
}

.sprite--icon-down-dir-green {
    width: 11px;
    height: 10px;
    background-position: -10px -286px;
}

.sprite--icon-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -316px;
}

.sprite--icon-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -358px;
}

.sprite--icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -10px -399px;
}

.sprite--icon-up-dir-green {
    width: 11px;
    height: 10px;
    background-position: -10px -429px;
}

.sprite--icon-vk {
    width: 26px;
    height: 15px;
    background-position: -10px -459px;
}

/*END SPRITE*/


/*POPUP*/

.modal-content {
  position: absolute;
  bottom: 250px;
  left: 70px;
  box-sizing: border-box;
  /*left: 50%;*/

  max-width: 704px;
  padding: 55px 90px 50px 80px;

  color: #000000;

  background: white;
  box-shadow: 0 10px 40px rgba(0, 1, 1, 0.75);
}

.modal-content p {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 41px;
  height: 41px;

  font-size: 0;
  border-radius: 50%;

  background-color: #fb565a;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 8px;

  width: 25px;
  height: 5px;
  background-color: white;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.login-form input {
  box-sizing: border-box;
  width: 220px;
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: black;
  padding-left: 15px;
}

/*.login-form .popup-text {
  width: 460px;
  height: 115px;
  padding-top: 12px;
  padding-left: 16px
}*/

.login-form textarea {

  box-sizing: border-box;
  width: 460px;
  height: 115px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  padding-top: 12px;
  padding-left: 16px;
}

.login-form label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.login-popup {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
}

.email-popup {
  display: inline-block;
  float: right;
  margin-bottom: 25px;
}

.text-popup {
  margin-top: 25px;
  margin-bottom: 50px;
}

.modal-content .btn-show {
  width: 100%;
  background: #fb565a;
  color: white;
}

.modal-content .btn-show:hover {
  background-color: #d6494d;
}

.modal-content .btn-show:active {
  background-color: #b63538;
}

/*END popup*/
